@import '../../style/colors';

%black-regular {
    color: $black;
    font-weight: 400;
}

.signup-login-tab {

    .nav-item {
        &.left {
            border-right: 0 !important;
        }
        & .active {
            position: relative;
            &::before {
                position: absolute;
                content: '';
                bottom: -5px;
                right: 0;
                width: 40%;
                left: 30%;
                height: 1px;
                background: $tab-active-border-color;
            }
        }
    }

    a {
        text-decoration: none;
        
        &:hover {
            text-decoration: none;
            @extend %black-regular;
        }
        
        &:active {
            text-decoration: none;
            @extend %black-regular;
        }

        &.active {
            @extend %black-regular;
        }

        color: $transaction-font-color;
        font-weight: 300;
    }
}