$primary: #003399;
$danger: #982222;
$success: #155f23;
$black: #000000;
$white: #fff;
$cream: #f8f8f8;
$placeholder-color: #626262;
$main-bg: #f9f8fb;

$form-input-bg: #efeeee;
$form-input-focus-outline: #89a3d6;
$form-input-invalid: #ec9d9d;

$nav-bar-background: #97b2d6;

$budget-list-item-colors: #982222, #ba3939, #ce5a5a, #d97878, #ea9191, #eda7a7,
  #efbcbc, #ffd0d0, #ffdbdb;
$common-budget-list-color: #ffdbdb;
$networth-caption-color: #414141;
$asset-title-color: #6d9bd0;
$link-color: #44a3de;
$liability-title-color: #d06464;
$dashboard-icon-color: #68b978;
$dashboard-section-title-color: #777272;
$dashboard-section-value-color: #414141;
$budget-list-item-default-color: #982222;
$dropdown-border-color: #ced4da;

$transaction-font-color: #777272;
$transaction-border-color: #e7e7e7;
$transaction-icong-bg-color: #c7c7c7;
$budget-list-amount-text-color: #4b4b4b;
$budget-list-border-color: #c3c3c3;
$success-overlay-bg: #eff5ff;
$tab-active-border-color: #707070;

$notifications-success-bg-color: #bfdec5;
$notifications-failure-bg-color: #ebbebe;
$notifications-info-bg-color: #c4ddff;

$no-data-font-color: #c3c3c3;

$cardcolor_bank: #00a4b7;
$cardcolor_cr: #ef7c00;
$cardcolor_fd: #00a2e3;
$cardcolor_ss: #6f6f6e;
$cardcolor_cc: #afca0a;
$cardcolor_mf: #fbb900;
$cardcolor_eq: #e73089;
$cardcolor_loan: #fbb91e;
$cardcolor_misc: #9e9d9a;
$cardcolor_ins: #e9d015;
$cardcolor_utility: #6b4796;
$cardcolor_aa: #844c9b;
