@import '../../style/colors';

.login-container {
    padding: 40px;
    margin-top: 40px;
    .login-signup-card-links {
        margin-top: 15px;
        a {
            color: $link-color;
            text-decoration: underline;
        }
    }

    @media (max-width: 320px) { 
        & {
            padding-left: 15px !important;
            padding-right: 15px !important;
        }
    }

}